.logo{
  background-size: 300px 77px;
  text-indent: -999em;
  background-image:url(../img/logo.png);
  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image:url(../img/logo@2x.png);
}
  width:300px;
  height: 77px;
  position: relative;
  margin: 1rem auto 0 auto;
}

.baseline{
  color:$orange;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
}
