/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: #000; }
  html * {
    box-sizing: content-box; }

a {
  color: #00BAFF;
  text-decoration: none; }
  a:hover {
    background: #00BAFF;
    color: #000; }

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.page {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  position: relative; }
  .page__background {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .page__content {
    z-index: 999;
    position: relative; }

.offer {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.4rem;
  max-width: 600px;
  position: relative;
  margin: 0 auto; }
  .offer p {
    margin: 0.5rem 0; }

.cycle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .cycle__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity ease-in 0.5s; }
    .cycle__item--visible {
      opacity: 1; }

#home {
  background-image: url(../img/home.jpg); }

#portrait {
  background-image: url(../img/portrait.jpg); }

#corpo {
  background-image: url(../img/corpo.jpg); }

.content {
  margin: 1rem;
  max-width: 40%; }
  .content__title {
    border-top-left-radius: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    background: #00BAFF;
    margin-bottom: 1px; }
  .content__text {
    background: rgba(255, 255, 255, 0.8);
    border-bottom-right-radius: 1rem;
    padding: 1rem; }
    .content__text p {
      text-align: justify;
      line-height: 1.2rem;
      margin-bottom: .5rem; }
      .content__text p:last-child {
        margin-bottom: 0; }

.logo {
  background-size: 300px 77px;
  text-indent: -999em;
  background-image: url(../img/logo.png);
  width: 300px;
  height: 77px;
  position: relative;
  margin: 1rem auto 0 auto; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      background-image: url(../img/logo@2x.png); } }
  .logo__small {
    background-size: 86px 22px;
    width: 86px;
    height: 22px;
    margin: 0 auto; }

.baseline {
  color: #00BAFF;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase; }

.menu {
  z-index: 9999;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
  flex-wrap: wrap;
  font-size: 11px; }
  .menu__item {
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    background: #00BAFF;
    flex: 1 0 20%; }
    .menu__item--text {
      padding: 0.5rem; }
    .menu__item--logo {
      flex: 1 0 100%;
      background: none;
      order: 5;
      padding: 0.5rem; }

.footer {
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem; }
